@{
    ViewBag.Title = "About Aquavit Beat";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="black-text">About Aquavit Beat!</h1>
    </div>
    <div class="col-md-6 white-box">
        <div>
            <h2>History</h2>
            <p>Vestibulum sapien dolor, commodo vitae sagittis sit amet, aliquam tristique urna. Duis venenatis faucibus dolor, eu commodo nisl feugiat nec. Suspendisse elementum enim ut ultrices ornare. Nullam finibus bibendum mauris, vel sollicitudin mauris porta vitae. Quisque consectetur semper lorem vel malesuada. Quisque malesuada tortor vel dignissim venenatis. Duis pellentesque leo at luctus sagittis. Integer nec dolor sed nunc ultrices interdum. Aliquam erat volutpat. Quisque tellus quam, aliquam in mattis id, blandit at odio. Vestibulum at dictum est. Morbi in nibh arcu. </p>
        </div>
    </div>
    <div class="col-md-6 white-box">
        <div>
            <h2>Contact</h2>
            <p>Mail: <a href="mailto:info@aquavitbeat.com">Send a mail!</a></p>
            <p>Demo submisson: <a href="mailto:info@aquavitbeat.com">Please send a private Soundcloud or Hearthis-link to us.</a></p>
        </div>
    </div>

</div>