@model IEnumerable<AquavitBEAT.Models.Artist>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
@section Styles {
    
}


<div class="row">
    
</div>

@section scripts{
   
}