$lightBlue : #6298b2;
$lightGrey: #9babb2;
$lighterGrey: #f3fbff;
$abRed: #ca2e2e;


.front-page {
	background-image: url(/images/ab_frontpage_bgr_w_logo.jpg);
	background-color: #9babb2;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0;
    background-attachment: fixed;
}
.front-page .navbar {
	height: 200px;
	background-color: none;
	border: none;
	border-radius: 0;
	padding-top: 20px;
}
.front-page .nav > li  a {
	color: $lightBlue;
}
.front-page .nav > li  a:hover {
	color: #000000;
}