
$lightBlue : #6298b2;
$lightGrey: #9babb2;
$lighterGrey: #f3fbff;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Open+Sans|Overpass|Quicksand');

@import 'bootstrap-sass/assets/stylesheets/bootstrap';

	/*font-family: 'Overpass', sans-serif;

	font-family: 'Open Sans', sans-serif;

	font-family: 'Fira Sans Condensed', sans-serif;

	font-family: 'Quicksand', sans-serif;*/



body {
	padding-top: 50px;
	padding-bottom: 20px;
	background: $lighterGrey;
	font-family:'Quicksand', sans-serif;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

h1, h2, h3, h4 {
	font-family: 'Quicksand', sans-serif;
}
h4 {
    font-weight: bold;
}
.white-text {
    color: #fff;
}
.dark-back {
    background: #000000;
}

a {
    color: #ca2e2e;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-1 {
    margin: 10px;
}
.padding-1 {
    padding: 10px;
}

.bottom-air-1 {
    margin-bottom: 20px;
}
.on-line {
    
    display:inline;
}

.list-view {
    border-bottom: dashed #9babb2 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 80px;
}
.list-view:nth-child(odd) {
    /*background: #2c2c2c;*/
}

.scroll-box {
    max-height: 600px;
    overflow: auto;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	/*max-width: 400px;*/
	/*background: #e5e5e5;*/
    border-radius: 0 0;
    background: #6298b2;
}

textarea {
   resize:vertical;
}

.fixed-textarea {
    resize: none;
    min-height: 200px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	font-size: 1em;
	font-weight: 700;
	padding: 10px;
	color: white;
	background-color: #6298b2;
	display: inline-block;
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: red;
}

.inputfile:focus + label {
	outline: 1px dotted #ca2e2e;
	outline: -webkit-focus-ring-color auto 5px;
}




/*.artist-form-input {

}*/

.artist-form-required {
	color: #ca2e2e;
}
.artist-form textarea, .song-form textarea {
    height: 200px;
	max-height: 200px;
}
#artist-list a {
    
    margin: 2px;
}


#profileImgDropzone {
	width: 400px;
	height: 200px;
	background: #808080;
	cursor: pointer;
}

#artist-file-preview {	
	max-height: 200px;	
	overflow: hidden;
    
	
}

.img-preview {
	background-color: red;
}

.sidebar {
    position: absolute;
    height: 500px;    
}

.block {
    display: block;
}

.artist-chbox-list:hover {
    background: #e5e5e5;
    cursor: pointer;
}

.front-page {
    background-image: url(/images/ab_frontpage_bgr_w_logo.jpg);
    background-color: #9babb2;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
}
.front-page .navbar {
    height: 200px;
    background-color: none;
    border: none;
    border-radius: 0;
    padding-top: 20px;
}
.front-page .nav > li  a {
    color: $lightBlue;
}
.front-page .nav > li  a:hover {
    color: #000000;
}

.frontpage-first-row {
    margin-top: 200px;
}

.frontpage-box {
    background: none;
    padding: 20px;
    
}
.frontpage-box h1 {
        font-size: 1.3em;
        margin: 0;
        padding: 0;
}
.frontpage-box h2 {
        font-size: 1.1em;
        font-weight: bold;
        margin-top: 10px;
}
.frontpage-box p:last-of-type {
        background: #000;
}
.front-page-formats span {
font-size: 10px;
margin-right: 4px;
background: #000;
}

.front-page-formats {
padding-top: 6px;
padding-bottom: 6px;
margin-bottom: 10px;
}



.frontpage-box p, .frontpage-box span {
    padding: 4px;    
    margin: 2px;
}
.frontpage-inner-box {    
    background: $lightBlue;
    padding: 16px;
    min-height: 460px;
}

.frontpage-box .audio {
    background: #000;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
}
.frontpage-box-releasedate {
    color: #000;
}




.nav > li a {
    background: none;
    text-transform: uppercase;
    font-size: 1.4em;
}
.nav > li a:hover, .nav > li a:visited, .nav > li a:active {
    background: none;
}
.dropdown-menu > li a {
    font-size: 1em;
}
.dropdown-menu > li a:hover {
    background: #808080;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none;
}
.dropdown:visited .dropdown-toggle {
    background: none;
}




