@model AquavitBEAT.Models.ArtistViewModel

@{
            var counter = 1;
            var htmlString1 = new HtmlString("<div class='form-group row'>");
            var htmlString2 = new HtmlString("</div>");}

@foreach (var some in Model.SocialMediaList)
            {

                if (counter % 2 == 0)
                {
        @htmlString1
    }

    @Html.Label(some.Name, new { @class = "control-label col-md-2" })
    <div class="col-md-4">

        @Html.TextBox(some.Name, null, new { @class = "form-control single-line", placeholder = some.Name, value = some.Prefix })
        @Html.ValidationMessageFor(model => some.Name, "", new { @class = "text-danger" })
    </div>
    if (counter % 2 == 0)
    {
        @htmlString2
    }
    {
        counter++;
    }
}
